/* COLOR SCHEME

#E2EDF3;
#244770;
#5C7FA3;
#84949C;

*/

body {
  font-family: 'Montserrat', sans-serif;
}

  .tinted-image {
    background-image:
    linear-gradient(to bottom, rgba(36,71,112, 0.7), rgba(92,127,163, 0.7)),
    url('../img/terrasave_hero.jpg');
    background-position: center;
    background-size: cover;
  }

  .btn-main {
    background-color: #244770;
    color: #E2EDF3;
    text-transform: uppercase;
  }

  .btn-main:hover {
    color: #E2EDF3;
    border: 1px solid #E2EDF3;
  }

  .home-img { 
    border: 5px solid #244770;
  }

  .work-img {
    border: 5px solid #5C7FA3;
  }

  .no-border {
    border: none;
  }

  .bold-emphasis {
    font-weight: bold;
    color: #244770;
  }

  .font-size-smaller {
    font-size: 0.8rem;
  } 

 .card-img-top {
    border-bottom-left-radius: calc(.25rem - 1px);
    border-bottom-right-radius: calc(.25rem - 1px);
    width: 100%;
    height: 15vw;
    object-fit: cover;
  }
  
  .p-6 {
    padding: 6rem;
  }

  .display-7 {
    font-size: 1.8rem;
  }

  .display-subtitle {
    font-size: 1.2rem;
    color: #5C7FA3;
    text-transform: uppercase;
  }
  
  .even-smaller-text {
    font-size: 1rem;
  }

  .position-info-text {
    font-size: 0.8rem;
    text-transform: uppercase;
  }

  .active-line {
    border-bottom: 1px solid #E2EDF3;
    font-weight: 600;
  }

  .nav-link-white {
    color: #E2EDF3;
    transition: all ease-in-out 0.2s;
  }

  .nav-link-white:hover {
    color: #E2EDF3;
    -webkit-text-fill-color: #E2EDF3;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E2EDF3;
    transition: all ease-in-out 0.2s;
  }

  .nav-link-blue {
    color: #244770 !important;
    transition: all ease-in-out 0.2s;
  }

  .nav-link-blue:hover {
    color: #244770;
    -webkit-text-fill-color: #244770;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #244770;
    transition: all ease-in-out 0.2s;
  }

  .inner-nav {
    background-color: #E2EDF3;
  }

  .nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  ul.nav {
    text-transform: uppercase;
  }

  .footer-link-white {
    color: #E2EDF3;
    text-decoration: none;
    border-bottom: 1px solid #244770;
    transition: all ease-in-out 0.2s;
    font-weight: normal;
  }

  .footer-link-white:hover {
    color: #244770;
  }


  .link-light-blue {
    color: #5C7FA3;
    text-decoration: none;
    border-bottom: 1px solid #244770;
    transition: all ease-in-out 0.2s;
    font-weight: normal;  
  }

  .link-light-blue:hover {
    color: #244770; 
  }

  .copyright-text-style {
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #E2EDF3;
  }

  .copyright-text-style a {
    text-decoration: none;
    border-bottom: 1px solid #E2EDF3;
    color: #E2EDF3;
  }

  .case-article-text {
    font-size: 1rem;
  }

  /* BG UTILITIES */

  .bg-light-blue {
    background-color: #5C7FA3;
    color: #E2EDF3;
  }

  .bg-dark-blue {
    background-color: #244770;
    color: #E2EDF3;
  }


/* FAQ CATEGORY BUTTONS */

.category-link {
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
  color: #5C7FA3;
  font-weight: 600;
  text-decoration: none;
  border: 2px solid rgb(255, 255, 255, 0);
  border-radius: 10px;
  padding: 20px 15px;
  min-height: 2rem;
  box-shadow: 0 0 3px 2px rgb(231 232 235);
  transition: all 0.2s;
}

.category-link:hover {
  color: #244770;
  border: 2px solid #244770;
  transition: all 0.2s;
}

.faq-title {
  background-color: #F0F0F0 !important;
  color: #5C7FA3 !important;
  text-transform: uppercase;
}

.faq-title-alt {
  background-color: #5C7FA3 !important;
  color: #E2EDF3 !important;
  text-transform: uppercase;
}

.faq-back {
  color: #5C7FA3;
  font-weight: 600;
  word-spacing: 0.5rem;
}

.faq-back-link {
  text-transform: uppercase;
  text-decoration: none;
  color: #5C7FA3;
  font-weight: 600;
  word-spacing: 0.5rem;
}

.faq-back-link:hover {
  color: #5C7FA3;
  border-bottom: 1px solid #5C7FA3;
}

  /* VIEWPORT SPECIFIC */


  @media (min-width: 992px) {
    .case-article-text {
      font-size: 0.8rem;
    }
  
  }

  @media (max-width: 576px) {
    .card-img-top {
      height: 30vh;
    }
  
  }




